
html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: #28161C;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color:  #9E6F99;
    border-radius: 10px;
  }
}

